@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Fira Code", monospace;
}

body {
  overflow-x: hidden;
  background-color: #00adb5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  margin-bottom: 40rem;
}

body h3 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.cup {
  background-color: white;
  width: 15rem;
  height: 20rem;
  border: 3px solid blue;
  border-radius: 0 0 20px 20px;
  color: blue;
  font-size: 1.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cup .remained {
  margin-top: auto;
}

.cup .remained span {
  text-align: center;
  display: block;
}

.cup .percentage {
  text-align: center;
  width: 100%;
  height: 0;
  font-weight: bold;
  border-radius: inherit;
  margin-top: auto;
  background-color: #7e8c8d;
}

.cup-small {
  height: 8rem;
  width: 4rem;
  min-width: 4.1rem;
  font-size: 1rem;
}

.full {
  background-color: #baf2f5;
}

.cups {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  gap: 2rem;
  text-align: center;
}

.cups .fist-row,
.cups .second-row {
  display: flex;
  gap: 20px;
}
