@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import "./scss_other_files/header";
@import "./icon_fonts/var";
// @import "./scss_other_files/keyframes";
@import "./scss_other_files/button";
@import "./scss_other_files/mixins";
@import "./scss_other_files/grid";
@import "./scss_other_files/utility";
@import "./scss_other_files/typography";
@import "./scss_other_files/sectionfeature";
@import "./scss_other_files/cards", "./scss_other_files/story", "./scss_other_files/_bg-video", "./scss_other_files/_book";
@import "./scss_other_files/form";
@import "./scss_other_files/footer";
@import "./scss_other_files/navigation";
@import "./scss_other_files/popUp";


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.7;
    color: #777;
    padding: 3rem;
    margin-bottom: -20rem;
    padding-bottom: 0;
    border-spacing: 15px;
}