.section-about {
    background: $color-grey-light;
    padding: 25vh;
    margin-top: -20vh;

}
.heading-secondary {
    font-size: 3.5rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .2rem;
    display: inline-block;
    background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    transition: all 0.1s;

    &:hover {
        transform: skewX(2deg) skewY(1deg) scale(1.1);
        text-shadow: .5rem 1rem 5rem $color-primary-light;
    }
}

.heading-tertiary {
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase;
}

.paragraph {
    font-size: 1.6rem;

    &:not(:last-child) {
        margin-bottom: 3rem;
    }
}

.composition {
    position: relative;

    &__photo {
        object-fit: cover;
        width: 55%;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .4);
        position: absolute;
        outline-offset: 2rem;
        border-radius: 2px;
        transition: transform .3s ease;
        &--p1 {
            left: 0;
            top: -2rem;
        }

        &--p2 {
            right: 0;
            top: 0;
        }

        &--p3 {
            left: 20%;
            top: 8rem;
        }

        &:hover {
            transform: scale(1.2);
            outline: 1rem solid $color-primary-light;

        }
    }
    &:hover &__photo:not(:hover){
        transform: scale(0.65);
    }
}