@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,300;0,600;0,700;0,800;0,900;1,300;1,400;1,600;1,700;1,800&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Mulish', sans-serif;
  height: 100vh;
  overflow: hidden;
}

body .container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 100vw;
}

body .container #left {
  flex: 1 1 50%;
  min-height: 100vh;
  background: url("https://store-images.s-microsoft.com/image/apps.38595.13798539581762600.215d02f1-0142-4972-88fb-175001d957e3.4cc7b353-559a-4bf8-8bad-8c88c6957b08") no-repeat center/cover;
  position: relative;
  transition: flex 1s ease-in-out;
}

body .container #right {
  flex: 1 1 50%;
  background: url("https://pbs.twimg.com/media/Dwew7IIW0AAPtTv.jpg") no-repeat center/cover;
  min-height: 100vh;
  position: relative;
  transition: flex 1s ease-in-out;
}

body .container .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 15px 20px;
  font-size: 1.2rem;
  font-weight: bold;
  background-color: #316B83;
  border: 0;
  border-radius: 15px;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

body .container .btn:hover {
  outline: none;
  background-color: #1f4d61;
}

body .container .btn:focus {
  background-color: #00a7ee;
}

.big {
  flex: 1 1 75% !important;
  height: auto;
}
