@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Fira Code", monospace;
}

body {
  position: relative;
  overflow: hidden;
  background-color: #00ADB5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: black;
  padding: 20px;
  transition: 0.5s ease-in-out;
}

.container {
  background-color: white;
  text-align: center;
  width: 800px;
  max-width: 100%;
  padding: 2rem 0;
  border-radius: 1.5rem;
  align-self: center;
}
.container h3 {
  opacity: 0.5;
  letter-spacing: 2px;
}
.container .joke {
  margin: 5rem auto;
  font-size: 30px;
  max-width: 100%;
  width: 600px;
  transition: 0.5s ease-in-out;
  text-align: justify;
  letter-spacing: 0.1px;
}

.createdByMe {
  position: absolute;
  width: 151px;
  padding: 2px;
  font-size: 10px;
  opacity: 0.7;
  margin: 0 40px;
  color: #7e2a33;
}
.createdByMe span {
  position: absolute;
  max-width: 100%;
  font-size: 20px;
  top: -1.7px;
  left: 135px;
}

.btn {
  display: inline-block;
  text-align: center;
  border: 0;
  background-color: #9f68e0;
  color: white;
  font-size: 1.2rem;
  border-radius: inherit;
  padding: 5px 26px;
  cursor: pointer;
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
.btn:hover {
  background-color: #773db9;
}
.btn:focus, .btn:active {
  background-color: #8e55cf;
  transform: scale(0.98);
}