@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Fira Code', monospace;
}

body {
    height: 100vh;
    overflow: hidden;
    background-color: rgb(207, 175, 175);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;

    #insert {
        .key {
            border: 1px solid rgb(41, 68, 41);
            background-color: rgb(255, 190, 190);
            color: black;
            padding: 20px;
            display: inline-flex;
            flex-direction: column;
            justify-content: center;
            margin: 10px;
            position: relative;
            min-width: 100px;

            small {
                position: absolute;
                top: -24px;
                left: 0;
                text-align: center;
                width: 100%;
                color: rgb(79, 0, 206);
                font-size: 14px;
            }
        }
    }
}