@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,300;0,600;0,700;0,800;0,900;1,300;1,400;1,600;1,700;1,800&display=swap");
:root {
  --left-bg-color: rgba(87, 84, 236, 0.7);
  --right-bg-color: rgba(196, 28, 168, 0.7);
  --hover-width: 75%;
  --hover-other: 25%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Mulish', sans-serif;
  height: 100vh;
  overflow: hidden;
}

body .container {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #333;
  transition: hover 1s ease-in-out;
}

body .container h1 {
  font-size: 3rem;
  color: white;
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translateX(-50%);
  white-space: nowrap;
}

body .container .btn {
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translateX(-50%);
  text-decoration: none;
  color: white;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  width: 15rem;
  text-align: center;
  padding: 1rem;
}

body .container a {
  text-decoration: none;
  color: #fff;
  border: 2px solid white;
  padding: 5px 10px;
  font-size: 2rem;
}

body .container .split {
  position: absolute;
  overflow: hidden;
  width: 50%;
  min-height: 100vh;
}

body .container .left {
  background: url("https://store-images.s-microsoft.com/image/apps.38595.13798539581762600.215d02f1-0142-4972-88fb-175001d957e3.4cc7b353-559a-4bf8-8bad-8c88c6957b08") no-repeat center/cover;
  top: 0;
  left: 0;
}

body .container .left::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--left-bg-color);
}

body .container .right {
  background: url("https://pbs.twimg.com/media/Dwew7IIW0AAPtTv.jpg") no-repeat center/cover;
  min-height: 100vh;
  right: 0;
}

body .container .right::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--right-bg-color);
}

body .hover-left {
  transition: 0.4s ease-in-out;
}

body .hover-left .left {
  width: var(--hover-width);
}

body .hover-left .right {
  width: var(--hover-other);
}

body .split {
  transition: 1s ease-in-out;
}

body .hover-right .right {
  width: var(--hover-width);
}

body .hover-right .left {
  width: var(--hover-other);
}

@media (max-width: 800px) {
  .container .split h1 {
    font-size: 15px;
  }
  .container .split .btn {
    width: 8rem;
  }
}
