@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Fira Code', monospace;
}

body {
    height: 100vh;
    background-color: #00ADB5;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: black;

    .input {
       position: absolute;
       bottom: 20px;
    }
}