@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Fira Code", monospace;
}

body {
  height: 100vh;
  overflow: hidden;
  background-color: #32398F;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.container {
  background-color: #272c61;
  padding: 2rem;
  font-size: 1rem;
  max-width: 900px;
}
@media screen and (max-width: 532px) {
  .container {
    transform: scale(0.8);
    margin: 0;
  }
}
.container h2 {
  text-align: center;
  margin-bottom: 0.6rem;
}
.container .password {
  position: relative;
  display: flex;
  align-items: center;
}
.container .password span {
  width: 100%;
  background-color: #1a1c33;
  color: white;
  font-size: 20px;
  height: 39px;
  overflow: hidden;
  resize: none;
  outline: none;
  display: flex;
}
.container .password .fa-clipboard {
  position: absolute;
  color: #4e56b4;
  top: 50%;
  background-color: #272c61;
  padding: 0.6rem;
  right: 1px;
  transform: translateY(-50%);
  cursor: pointer;
}
.container .password .fa-clipboard:hover {
  color: #3e4ac7;
}
.container .password .fa-clipboard:active {
  transform: translateY(-50%) scale(0.9);
}
.container .password__checks > * {
  margin-top: 0.6rem;
}
.container .password__checks > * label {
  font-size: 12px;
}
.container .password__checks #password__length {
  width: 43px;
  height: 17px;
}
.container .password__checks .form-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container .password__checks .generate-btn {
  display: inline-block;
  width: 100%;
  height: 3rem;
  margin-bottom: -20px;
  background-color: #32398F;
  outline: none;
  border: none;
  cursor: pointer;
}
.container .password__checks .generate-btn:hover {
  background-color: #373fa0;
}
.container .password__checks .generate-btn:active {
  transform: scale(0.99);
}