@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Fira Code', monospace;
}

body {
    height: 100vh;
    overflow: hidden;
    background-color: #32398F;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.container {
    background-color: #272c61;
    padding: 2rem;
    font-size: 1rem;
    max-width: 900px;

    @media screen and (max-width: 532px) {
        transform: scale(0.8);
        margin: 0;
    }

    h2 {
        text-align: center;
        margin-bottom: .6rem;
    }

    .password {
        position: relative;
        display: flex;
        align-items: center;

        span {
            width: 100%;
            background-color: #1a1c33;
            color: white;
            font-size: 20px;
            height: 39px;
            overflow: hidden;
            resize: none;
            outline: none;
            display: flex;
        }

        .fa-clipboard {
            position: absolute;
            color: #4e56b4;
            top: 50%;
            background-color: #272c61;
            padding: .6rem;
            right: 1px;
            transform: translateY(-50%);
            cursor: pointer;

            &:hover {
                color: #3e4ac7;

            }

            &:active {
                transform: translateY(-50%) scale(.9);
            }
        }
    }

    .password__checks {
        &>* {
            margin-top: .6rem;
        }

        & > *label {
            font-size: 12px;
        }

        #password__length {
            width: 43px;
            height: 17px;
        }

        .form-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .generate-btn {
            display: inline-block;
            width: 100%;
            height: 3rem;
            margin-bottom: -20px;
            background-color: #32398F;
            outline: none;
            border: none;
            cursor: pointer;

            &:hover {
                background-color: #373fa0;
            }

            &:active {
                transform: scale(.99)
            }
        }
    }
}